.m-headshot {
  background-image: url('../images/smith-bw-small.png');
  height: 600px;
  width: 380px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
  left: 0;
  background-size: contain;

  @include media-query($on-laptop) {
    height: 500px;
    width: 320px;
    left: $spacing-unit;
  }

  @include media-query($on-palm) {
    position: static;
    margin-top: $spacing-unit;
    height: 200px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}

.m-body--home {
  position: absolute;
  left: 420px;
  top: 200px;
  margin-right: $spacing-unit;
  
  @include media-query($on-laptop) {
    left: 360px;
    top: 150px;
  }

  @include media-query($on-palm) {
    position: static;
  }
}