.l-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}

.m-headshot {
  background-image: url('../images/smith-bw-headshot.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;

  @include tablet {
    background-image: url('../images/smith-bw-small.png');
    height: 500px;
    width: 320px;
  }

  @include desktop {
    height: 600px;
    width: 380px;
  }
}

.m-headshot--container {
  background: #dedede;
  border-radius: 50%;
  height: 200px;
  margin: $spacing-unit auto;
  overflow: hidden;
  width: 200px;

  @include tablet {
    background: white;
    border-radius: 0;
    height: auto;
    overflow: visable;
    width: 100%;
    margin: $spacing-unit $spacing-unit 0 0;
    min-width: 320px;
  }

  @include desktop {
    min-width: 380px;
  }
}

.m-body--home {
  margin-right: $spacing-unit;
  text-align: center;
  
  @include tablet {
    text-align: left;
  }

  @include desktop {
    font-size: 36px;
  }
}