.l-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
  }
}

.l-home {
  background: url("../images/sunset.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  position: fixed; 
  top: 0; 
  left: 0;
  z-index: 1;

  @include tablet {
    background: url("../images/smith-sunset.jpg") no-repeat center center fixed; 
  }
}

.l-home--wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 88vh;
  width: 100%;

  @include tablet {
    align-items: center;
  }
}

.m-home--body {
  font-size: 30px;
  position: relative;
  z-index: 2;
  margin-top: 50px;
  
  @include tablet {
    color: white;
    font-size: 30px;
    text-align: left;
  }

  @include desktop {
    font-size: 36px;
  }
}

.spacer {
  @include tablet {
    min-width: 52%;
  }
}