// NAV STYLES
// ----------

.m-nav {

  @include tablet {
    display: flex;
    flex-direction: row;
    font-size: 16px;
  }

  @include desktop {
    font-size: 18px;
  }
}

.m-nav--link {
  text-transform: uppercase;

  @include tablet {
    padding-right: 15px;

    &:last-of-type {
      padding-right: 0;
    }
  }
}

.site-header {
  z-index: 20;
  background: white;
}