// NAV STYLES
// ----------

.m-nav {
  @include tablet {
    display: flex;
    flex-direction: row;
    font-size: 13px;
  }

  @include desktop {
    font-size: 18px;
  }
}

.m-nav--link {
  padding-right: 15px;
  text-transform: uppercase;

  &:last-of-type {
    padding-right: 0;
  }
}