// SITE RESETS OF MINIMA STYLES
// ----------------------------

.page-content {
  padding-top: 0;
}

.wrapper {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.post-header {
  margin-top: 0;
}

.site-nav {
  z-index: 1000;
  
  .menu-icon {
    padding-top: 6px;
  }
}

* {
  box-sizing: border-box;
}


// TYPOGRAPHY RESETS OF MINIMA STYLES
// ----------------------------------

.m-body,
ul,
.site-title {
  font-family: $secondary-font-family;
  font-weight: 300;
}

h2 {
  font-family: $base-font-family;
  text-transform: uppercase;
  line-height: 1em;
  margin-bottom: 10px;
}

.site-title {
  font-size: 34px;
  text-transform: uppercase;

  @include media-query($on-palm) {
    font-size: 28px;
  }

  @include media-query($on-laptop) {
    font-size: 26px;
  }
}

.m-section {
  text-align: center;
  color: $color-white;
  margin-top: 20px;
  display: block;
  background: url("../images/sun.jpg") no-repeat right center;
  padding: 100px;
  h2 {
    font-family: $secondary-font-family;
    margin-bottom: 0;
  }
}

// MOBILE FIRST MEDIA QUERIES
// --------------------------

$tablet-width: 600px;
$desktop-width: 900px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@media screen and (max-width: 600px) {
  .site-nav .menu-icon > svg path {
    fill: $color-white;
  }
}